

<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<ul>
{{#list}}
  <li>{{name}} - {{program}}</li>
{{/list}}
</ul>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>