<!DOCTYPE html>
<html lang="en" ng-app="justlunchme">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title>JustLunchMe</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap_pratt.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main_pratt.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.print.css" />
    <script src="/js/smoothscroll_pratt.js"></script>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>JustLunchMe</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-nav-jlm">
	            <li class="active"><a href="#home" class="smothscroll">Home</a></li>
	            <li><a href="#intro" class="smothscroll">Intro</a></li>
	            <li><a href="#friends" class="smothScroll">Friends</a></li>
	            <li><a href="#times" class="smothscroll">Scheduling</a></li>
	            <li><a href="#feed" class="smothScroll">Match Feed</a></li>
	          </ul>

	          <div style="float: right; position: relative; margin-top: 10px; margin-bottom: -10px;">

	          <script class="pre" src="/hello.min.js"></script>

				<script class="pre">
				hello.init( {
						google : '791651266422-0rgikd8j6ls8cn70000i2vgumokps6ej.apps.googleusercontent.com',
						facebook : '871627882901365',
					}
					, {
						redirect_uri:'redirect.html',
						scope:"friends"
					}
				);

				function getFriends(network, path, redirect_uri) {
					hello.login( network, {scope:'friends', redirect_uri: redirect_uri}, function(auth){
						if(!auth||auth.error){
							console.log("Signin aborted");
							return;
						}
						// Get the friends
						// using path, me/friends or me/contacts
						hello( network ).api(path , {limit:90}, function responseHandler(r){
								console.log(r);
							}
						);
					});
				}

				// hello.on('auth.login', function(auth){
				//     // call user information, for the given network
				//     hello( auth.network ).api( '/me/contacts' ).then( function(r){
				//         console.log(r);
				//     });

				// 	hello( auth.network ).api( '/me/friends').then( function(r){
				//         console.log(r);
				//     });
				// });


				</script>




	          <button onclick="getFriends('google', 'me/contacts', 'oauth2callback')">Get Google me/friends</button>
	          <button onclick="getFriends('facebook', 'me/friends', '/')">Get facebook me/friends</button>

	          {{! <button onclick="hello( 'facebook' ).login()">windows</button> }}

<!--

	          	{{user.displayName}}
				<script src="https://apis.google.com/js/client:platform.js" async defer></script>

				<script>
				function signInCallback(authResult) {
					console.log(authResult);
				  if (authResult.code) {
				    $.post('/auth/google/callback', { code: authResult.code})
				    .done(function(data) {
				    	console.log(data);

				    	gapi.client.load('plus','v1', function(){
						 var request = gapi.client.plus.people.list({
						   'userId': 'me',
						   'collection': 'visible'
						 });
						 request.execute(function(resp) {
						   console.log(resp);
						 });
						});

				      $('#signinButton').hide();
				    });
				  } else if (authResult.error) {
				    console.log('There was an error: ' + authResult.error);
				  }
				};
				</script>

				<div id="signinButton">
				  <span class="g-signin"
				    data-scope="https://www.googleapis.com/auth/plus.login"
				    data-clientid="791651266422-0rgikd8j6ls8cn70000i2vgumokps6ej.apps.googleusercontent.com"
				    data-redirecturi="postmessage"
				    data-accesstype="offline"
				    data-cookiepolicy="single_host_origin"
				    data-callback="signInCallback">
				  </span>
				</div>
				<div id="result"></div> -->
	          </div>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

	    <div class="row">
{{! 	    	    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
	            <li><a href="#desc" class="smothscroll">Description</a></li>
	            <li><a href="#showcase" class="smothScroll">Showcase</a></li>
	            <li><a href="#contact" class="smothScroll">Contact</a></li> }}

<!-- Home Section -->
	<section id="home" name="Welcome"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<br><br><br><br>
					<h1>Welcome To <b>JustLunchMe</b></h1>
					<h3>Reunite with friends. Be happy.</h3>
					<br>
	    		</div>
	    		<div class="col-lg-12">
	    			{{! <div style="height:300px"></div> }}
	    			{{! <img  style="margin: auto" class="img-responsive" src="/img/women_lunch1.jpg" alt=""> }}
	    			<br><br>
	    		</div>
	    		<div class="col-lg-12">
	    			<div class="btn-group" role="group" aria-label="...">
	    				<br><br>
					  <button type="button" class="btn btn-default">Login</button>
					</div>
	    			<br><br>
	    		</div>


	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


<div style="background: #662108; color: black">

{{{yield}}}
</div>

<!-- Intro Section -->
	<section id="intro" name="intro"></section>
	<!-- INTRO WRAP -->
	<div id="bodywrap2">
		<div class="container">
			<div class="row centered">
				<h1>How This Works</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="/img/intro01.png" alt="">
					<h3>Add Friends</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="/img/intro02.png" alt="">
					<h3>Fill in Availability</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="/img/intro03.png" alt="">
					<h3>Get Notified</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">What's New?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="/img/mobile.png" alt="">
				</div>

				<div class="col-lg-6">
					<h3>Some Features</h3>
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        First Class Design
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>

		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        Retina Ready Theme
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>

		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		                        Awesome Support
		                        </a>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>

		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		                        Responsive Design
		                        </a>
		                    </div>
		                    <div id="collapseFour" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->

<!-- Friends Section -->
	<section id="friends" name="Friends"></section>
	<div id="bodywrap1">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Friends</h1>
					<h3>Maintain your friend list here.</h3>
					<br>
	    		</div>

	    		<div class="col-lg-6">
	    			<h2>Notifications</h2>
					<div class="list-group list-left-align">
					     <a href="#" class="list-group-item"><span class="badge">Add</span>     <span class="badge">Ignore</span> Person 1
					  </a>
					  <a href="#" class="list-group-item">Person 2</a>
					</div>

					<h2>Add Friends</h2>
					<div class="list-group">
					  <a href="#" class="list-group-item">Person 1
					  </a>
					  <a href="#" class="list-group-item">Person 2</a>
					  <a href="#" class="list-group-item">Person 3</a>
					  <a href="#" class="list-group-item">Person 4</a>
					  <a href="#" class="list-group-item">Person 5</a>
					</div>
	    		</div>
	    		<div class="col-lg-6">
	    			<h2>Your Friends</h2>
					<div class="list-group">
					  <a href="#" class="list-group-item">Person 1
					  </a>
					  <a href="#" class="list-group-item">Person 2</a>
					  <a href="#" class="list-group-item">Person 3</a>
					  <a href="#" class="list-group-item">Person 4</a>
					  <a href="#" class="list-group-item">Person 5</a>
					  <a href="#" class="list-group-item">Person 6</a>
					  <a href="#" class="list-group-item">Person 7</a>
					  <a href="#" class="list-group-item">Person 8</a>
					</div>
					<br>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


<!-- Calendar Section -->
	<section id="times" name="Times"></section>
	<div id="bodywrap2">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Time Selection</h1>
					<h3>Click and drag your dates on the calendar</h3>
					<br>
	    		</div>
	    		<div class="col-lg-12">
		    		<div id='calendar'></div>
	    			{{! <img style="margin: auto" class="img-responsive" src="/img/calendar_placeholder.png" alt=""> }}
	    		</div>
	    		<br><br>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->

<!-- Thank you Section -->
	<section id="times" name="Times"></section>
	<div id="bodywrap1">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1><b>Thank you</b></h1>
					<h3>Check your inbox every day at 10 AM to see if you've been matched!</h3>
					<br><br><br>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->

<!-- Contact Section -->
	<section id="contact" name="contact"></section>
	<div id="footerwrap" style="display:none">
		<div class="container">
			<div class="col-lg-5">
				<h3>Address</h3>
				<p>
				Av. Greenville 987,<br/>
				New York,<br/>
				90873<br/>
				United States
				</p>
			</div>

			<div class="col-lg-7">
				<h3>Drop Us A Line</h3>
				<br>
				<form role="form" action="#" method="post" enctype="plain">
				  <div class="form-group">
				    <label for="name1">Your Name</label>
				    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email address</label>
				    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				  	<label>Your Text</label>
				  	<textarea class="form-control" name="Message" rows="3"></textarea>
				  </div>
				  <br>
				  <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
				</form>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.malcolmocean.com">Malcolm Ocean</a>, Will Cullen and Noah MacCallum</p>
		</div>
	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap_pratt.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {{!    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>}}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {{! <script src="js/bootstrap.min.js"></script> }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.1/sweet-alert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-animate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.tpl.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
    	$(function() {
    		$('#calendar').fullCalendar({
    			header: {
    				left: 'prev,next today',
    				center: 'title',
    				right: 'month,agendaWeek,agendaDay'
    			},
    			defaultDate: '2014-11-12',
    			selectable: true,
    			selectHelper: true,
    			select: function(start, end) {
    				var title = prompt('Event Title:');
    				var eventData;
    				if (title) {
    					eventData = {
    						title: title,
    						start: start,
    						end: end
    					};
    					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
    				}
    				$('#calendar').fullCalendar('unselect');
    			},
    			editable: true,
    			eventLimit: true, // allow "more" link when too many events
    			events: [
    				{
    					title: 'All Day Event',
    					start: '2014-11-01'
    				},
    				{
    					title: 'Long Event',
    					start: '2014-11-07',
    					end: '2014-11-10'
    				},
    				{
    					id: 999,
    					title: 'Repeating Event',
    					start: '2014-11-09T16:00:00'
    				},
    				{
    					title: 'Birthday Party',
    					start: '2014-11-13T07:00:00'
    				},
    				{
    					title: 'Click for Google',
    					url: 'http://google.com/',
    					start: '2014-11-28'
    				}
    			]
    		});
    	});
    </script>
  </body>
</html>
