.adder-box {
  border-right: 3px solid #B36000;
}

.label-search {
  margin: 5px 0;
  position: relative;
  left: 18px;
  color: #733E00;
}

.form-group-search {
  margin: 10px 10px 0;
  padding-bottom: 10px;
  overflow: auto;
}

.friend-list, .lunch-list {
  list-style: none;
  padding: 0;
  margin: 0 27px 10px;
  border-bottom: 1px solid #ccd;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 4px;
}

.friend-list li, .lunch-list li {
  padding: 0;
  border-top: 1px solid #ccd;
  border-left: 1px solid #ccd;
  border-right: 1px solid #ccd;
  background: white;
}

.friend-list li a, .lunch-list li {
  padding: 6px 12px;
  display: block;
  text-decoration: none;
  color: black;
}

.friend-list.green li {
  background: #ddffe5;
}

.friend-list li a:hover {
  cursor: pointer;
  background: #cce5ff;
}

.hasapp {
  background: #ddffe5;
}

.bolden {
  font-weight: bold;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
  }

.grey {
  color: #aaa;
}
